    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    
    }

    /* Header */
    header {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    /* Franja blanca con logo */
    .header-top {
    
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    .header-top img {
      height: 80px;
      width: 80px;
    }

    /* Franja verde con menú */
    .header-bottom {
      background-color: #004d26; /* Verde oscuro */
      display: flex;
      justify-content: center;
      padding: 12px 0;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 30px;
    }

    nav ul li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: 0.3s;
    }

    nav ul li a:hover {
      color: #ffcc00; /* Amarillo al pasar el mouse */
    }

    /* Responsive */
    @media (max-width: 768px) {
      header {
        flex-direction: column;
      }

      nav ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
      }
    }

    /* quienes somos */
    .quienes-somos {
      max-width: 1000px;
      margin: 60px auto;
      padding: 40px;
      background: #ffffff;
      border-radius: 12px;
      box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
      text-align: center;
    }

    .quienes-somos h1 {
      font-size: 32px;
      color: #1c472a;
      margin-bottom: 20px;
    }

    .quienes-somos p {
      font-size: 18px;
      color: #333333;
      margin-bottom: 15px;
    }

    .quienes-somos strong {
      color: #d4a017;
    }

    /* Footer */
    footer {
      background: #1c472a;
      color: #ffffff;
      text-align: center;
      padding: 20px;
      margin-top: 40px;
    }

    /* Banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #f8f8f8, #e0ffe5);
  padding: 60px 80px;
  min-height: 250px;
}

.banner-left h1 {
  font-size: 60px;
  color: #222;
  font-weight: bold;
}

.banner-left h1 span {
  color: #004d26; /* Verde corporativo */
}

.banner-right {
  text-align: right;
}

.banner-right h2 {
  font-size: 28px;
  color: #004d26;
  margin-bottom: 20px;
}

.btn {
  background-color: #00a84f; /* Verde botón */
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #007a38;
}